.navigatorImage{
    
    background-image: url("./../../assets/images/navigator.JPG");
    width: 100vw;
  /* max-width: 500px; */
  height: 100vh;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.navigateDarshana{
    width: 35%;
    height: 40%;
}
.navigateDhyana{
    width: 20%;
    height: 40%;
}
.navigateYog{
    width: 25%;
    height: 40%;
}
.navigateKriya{
    width: 25%;
    height: 40%;
}
