@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Mukta:wght@300&family=Rubik&display=swap");
.background {
  background-image: url("../images/Login_Background.png");
  width: 100vw;
  max-width: 640px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.animationClass {
  animation: trans 3s ease-in forwards ;
}

.input-box {
  position: absolute;
  max-width: 740px;
  width: 120%;
}

.targetAnimation {
  
}


@keyframes trans{
  from{
    transform: translateY(0vh);

  }
  to{
    transform: translateY(-20vh);
  }
}


.nameinput {
  position: absolute;
  border-radius: 9px;
  color: #e6ab74;
  font-size: 18px;
  background-color: black;
  opacity: 55%;
  height: 5.5%;
  top: 39%;
  width: 60%;
}
.noinput {
  position: absolute;
  border-radius: 9px;
  color: #e6ab74;
  font-size: 18px;
  background-color: black;
  opacity: 55%;
  top: 50%;
  height: 5.5%;
  width: 60%;
}
.labelName {
  z-index: 8;
  transform: translatey(-12px);
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
}
.labelNumber {
  z-index: 8;
  transform: translatey(-94px);

  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
}
.button1 {
  font-weight: 500;
  color: white;
  position: absolute;
  top: 60%;
  height: 5%;
  width: 20%;
  background-image: linear-gradient(to right, #96f147cb, #77c21b);
  opacity: 85%;
  border-radius: 10px;
}
.button1:hover {
  background-color: white;
  background-image: linear-gradient(to right, #96f147cb, #77c21b);
  color: white;
}
/* .imag{
    
    max-height:100%; max-width:100%;

    object-fit:  contain;
    /* background-image: url('../images/Login_Background.png'); */

/* .main-div{
    background-image: url("../images/Login_Background.png");
    width: 560px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;0
    background-position: center center;
}
.background{
    background-image: url("../images/Login_Background.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
} */
