.background{
    background-image: url('../images/Login_Background.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.input-box{
    position: absolute;
  
    width: 120%;
    
}
.nameinput{
    position: absolute;
    border-radius: 9px;
    background-color: black;
    opacity: 65%;
    height: 5.5%;
    top: 39%;
    width: 60%;
}
.noinput{
    position: absolute;
    border-radius: 9px;
    background-color: black;
    opacity: 65%;
    top: 50%;
    height: 5.5%;
    width: 60%;

}
.button1{
    position: absolute;
    top: 60%;
    height: 5%;
    width: 20%;
    background-image: linear-gradient(to right, #42855B ,#6FEDD6 );
    
    border-radius: 8px;

   

}
.button1:hover{
    background-color: white;
    background-image: linear-gradient(to right, #C21010 ,#F65A83 );
    color: black
  

}
/* .imag{
    
    max-height:100%; max-width:100%;

    object-fit:  contain;
    /* background-image: url('../images/Login_Background.png'); */
  
/* .main-div{
    background-image: url("../images/Login_Background.png");
    width: 560px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;0
    background-position: center center;
}
.background{
    background-image: url("../images/Login_Background.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
} */