.lowerFooter{
    display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  flex-direction: flex-end;
    width: 100%;
}

.iconsPoint{
    cursor: pointer;
    text-decoration: none;
    /* background-color: white; */
    color: white;
}

@media only screen and (max-width: 600px) {
    .lowerFooter{
        flex-direction: column;
    }
}


