.background {
  height:100vh;
  background-image: url("../images/Login_Background.png");
  width: 100vw;
  max-width: 640px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.mask {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
 
  

}
.hanuman {
  z-index: 10;
 
  
  max-width: 500px;
  position: absolute;
  left:0;
  
  bottom:0;
  width: 85%;
  
 /* right: 40%; */
}
