.background {
  height:100vh;
  background-image: url("../images/Login_Background.png");
  width: 100vw;
  max-width: 640px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.mask {
  
 
  top: 0px;
  left: 0;
  height: 100vh;
  
  z-index: 9;
  backdrop-filter: blur(4px);
}
.hanuman {
  z-index: 10;
 
  
  max-width: 740px;
  position: absolute;
  
  bottom:0;
  width: 80%;
  
 /* right: 40%; */
}
