.topContainer {
  position: absolute;
  object-fit: fill;
  width: 500px;
  height: 100%;
}
.RamSitaGIFContainer {
  position: absolute;
  border: #000 solid;
  width: 100%;
  height: 100%;
  object-fit: fill;
  top: 0;
  left: 0;
}
@media screen and (max-width: 500px) {
  .topContainer {
    position: static;
  }
}
