* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header_img {
  width: 100%;
  max-height: 30vh;
  position: absolute;
  object-fit: cover;
  z-index: 2;
}

.bgFront {
  height: 300px;
  /* height: 40vh; */
  width: 100vw;
  z-index: 0;
  position: relative;
}
.setuLandFront {
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: -1px;
}
.water {
  /* height: 60vh; */
  height: 400px;
  width: 100vw;
}
.bgBack {
  position: relative;
  background: url("https://c.tenor.com/FRdygPZHH28AAAAC/sea-blue.gif");
}
.image {
  /* position: fixed; */
  margin-top: -3px;
  width: 100%;
  height: 99.9vh;
  /* height: 100vh; */
  /* object-fit:cover; */
  overflow-y: auto;
}

/*@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  } */
/* 
.hanuman {
  z-index: 3;
  width: 20vw;
  height: 20vh;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(0vh);
  animation: rise  6s ease-in  5 forwards;
 }
 
 
@keyframes rise {
  30% {
    transform: translateY(-80vh) translateX(0vw);
  }
  40% {
    transform: translateY(-80vh) translateX(0vw) rotate(20deg);
  }
  55% {
    transform: translateY(-80vh) translateX(80vw) rotate(20deg);
  }
  60% {
    transform: translateY(-80vh) translateX(80vw) rotate(0deg);
  }
  75% {
    transform: translateY(-50vh) translateX(80vw);
  }

  90% {
    transform: translateY(-50vh) translateX(40vw);
  }
  100% {
    transform: translateY(-50vh) translateX(40vw) scale(1.5);
  }
} */


.hanuman {
  z-index: 5;
  width: 15vw;
  height: 15vh;
  position: absolute;
  transform: translateY(0vh);
  transform: rotateZ(90deg) rotateY(0deg);

  offset-path: path("M40.323613,612.918919c0-542.708393,1.897582-540.81081,1.897582-546.503556s0-45.541964,24.668563-30.361309q24.668563,15.180655,231.504979,7.590327q36.054054,0,28.463727,30.361309t-250.480797,45.541963q-41.7468-26.566145,0-45.541963t222.01707,58.825035q45.541963,1.897583,24.668563,24.668564t-244.788051,36.054054q-43.644381-20.873399,1.897582-36.054054t218.221906,39.849217q51.234709,20.8734,18.975818,37.951636t-125.240399,34.156473");
  animation: move 15000ms ease-in 2s forwards ;
 }
 
 @keyframes move {
  0% {
    offset-distance: 0%;
  }
  
  /* 1st right to left */
  55% {
    transform: rotateZ(90deg) rotateY(0deg);
  }
  58% {
    transform: rotateZ(90deg) rotateY(180deg);
  }

  /* 1st left to right */
  66% {
    transform: rotateZ(90deg) rotateY(180deg);
  }
  69% {
    transform: rotateZ(90deg) rotateY(0deg);
  }

    /* 2nd right to left */
    76% {
      transform: rotateZ(90deg) rotateY(0deg);
    }
    79% {
      transform: rotateZ(90deg) rotateY(180deg);
    }

      /* 2nd left to right */
  85% {
    transform: rotateZ(90deg) rotateY(180deg);
  }
  88% {
    transform: rotateZ(90deg) rotateY(0deg);
  }
  /* 3rd right to left */
  93% {
    transform: rotateZ(90deg) rotateY(0deg);
  }
  97% {
    transform: rotateZ(90deg) rotateY(180deg);
  }
  /* last scale  */
  100% {
    transform: rotateZ(195deg) rotateY(180deg) scale(2);
    offset-distance: 100%;
  }
}

@media screen and (min-width: 425px) {
  
.hanuman {
  top:30px;
  left:10%;
 }
  
}


@media screen and (min-width: 400px) {
  .header_img {
  }
}

.treeLeft {
  width: 100%;
  position: relative;
  left: -30%;
  top: -25%;
}

.treeRight {
  width: 100%;
  position: relative;
  right: -35%;
  top: -14%;
}

.gameBoard {
  width: 100%;
}
