.container{
    height:99.435vh;
    width: 100vw;
    /* height: 5000px; */
}

.vidStyles{
    height: 100%;
    width: 100%;
    object-fit: fill
}

.OculusMain{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
}
