@media screen and (max-width: 500px){
  #myBGVideo {
    display: none;
  }
}


@media screen and (min-width: 500px) {
  .App{
    display:flex;
    justify-content: center;
    /* background:url("./assets/video/wave\ 4.gif"); */
  }

  #myBGVideo {
    position: absolute;
    z-index: -10;
    right: 0;
    bottom: 0;
    display: flex;
    object-fit: fill;
    filter: blur(5px);
    min-width: 100%; 
    min-height: 100%;
  }

}
