@media screen and (max-width: 500px){
  #myBGVideo {
    display: none;
  }
}


@media screen and (min-width: 500px) {
  .App{
    display:flex;
    justify-content: center;
    /* background:url("./assets/video/wave\ 4.gif"); */
  }

  #myBGVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

}
